# Data Science - Scientist Kit

## 000 - Setup

In [3]:
import pandas as pd
import numpy as np
import calculations as cc
import log

### 000.001 - Import and Variables

In [6]:
arquivo = "default of credit card clients.csv"

In [8]:
data_brut = pd.read_csv(arquivo, sep = ";")

## 001 - Exploracao de Dados

In [36]:
print("Estatisticas Básicas")
print("")
print("Nome do Dataset: " + arquivo)
print("Quantidade de linhas: " + str(len(data_brut)))
print("Quantidade de colunas: " + str(len(data_brut.columns)))
print("")
print("Describe Columns")
print(data_brut.dtypes)
print("")
print("Sample")
print(print(data_brut.T.iloc[:,0:5]))

Estatisticas Básicas

Nome do Dataset: default of credit card clients.csv
Quantidade de linhas: 30000
Quantidade de colunas: 25

Describe Columns
ID                            int64
LIMIT_BAL                     int64
SEX                           int64
EDUCATION                     int64
MARRIAGE                      int64
AGE                           int64
PAY_0                         int64
PAY_2                         int64
PAY_3                         int64
PAY_4                         int64
PAY_5                         int64
PAY_6                         int64
BILL_AMT1                     int64
BILL_AMT2                     int64
BILL_AMT3                     int64
BILL_AMT4                     int64
BILL_AMT5                     int64
BILL_AMT6                     int64
PAY_AMT1                      int64
PAY_AMT2                      int64
PAY_AMT3                      int64
PAY_AMT4                      int64
PAY_AMT5                      int64
PAY_AMT6                      int64
default payment next month    int64
dtype: object

Sample
                                0       1      2      3      4
ID                              1       2      3      4      5
LIMIT_BAL                   20000  120000  90000  50000  50000
SEX                             2       2      2      2      1
EDUCATION                       2       2      2      2      2
MARRIAGE                        1       2      2      1      1
AGE                            24      26     34     37     57
PAY_0                           2      -1      0      0     -1
PAY_2                           2       2      0      0      0
PAY_3                          -1       0      0      0     -1
PAY_4                          -1       0      0      0      0
PAY_5                          -2       0      0      0      0
PAY_6                          -2       2      0      0      0
BILL_AMT1                    3913    2682  29239  46990   8617
BILL_AMT2                    3102    1725  14027  48233   5670
BILL_AMT3                     689    2682  13559  49291  35835
BILL_AMT4                       0    3272  14331  28314  20940
BILL_AMT5                       0    3455  14948  28959  19146
BILL_AMT6                       0    3261  15549  29547  19131
PAY_AMT1                        0       0   1518   2000   2000
PAY_AMT2                      689    1000   1500   2019  36681
PAY_AMT3                        0    1000   1000   1200  10000
PAY_AMT4                        0    1000   1000   1100   9000
PAY_AMT5                        0       0   1000   1069    689
PAY_AMT6                        0    2000   5000   1000    679
default payment next month      1       1      0      0      0
None

## Estatisticas Basicas

In [25]:
colunas = "MARRIAGE,ID"
agrupar_por = "MARRIAGE"
operador = "count"

In [29]:
data_brut[["MARRIAGE","ID"]].groupby(agrupar_por).agg(operador)

             ID
MARRIAGE
0            54
1         13659
2         15964
3           323